params.barcodes = '/home/laurens/roadrunner/2020/barcodes/run10barcodes.txt'
params.rawdata = '/home/laurens/roadrunner/rawdata/run10.zip'
params.genome = '/home/laurens/data/resources/reference_genome/hg19/hg19.fa'



tower {
  accessToken = 'c6f9fe249f9a24a49cf3d19f7bedcb1983786788'
  enabled = true
}
